$primary: #443841;
$secondary: #e14885;
$success: #2b9d6c;
$info: #ee9cc2;
$warning: #d6cd2c;
$danger: #e03c17;
$light: #192224;
$dark: #1c1f1f;


@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";